@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');



body{
  background-image: url("./Pages/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  color:black;
}



.headerlog{
  color:black;
}

.Login_page {

  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icons i{
  cursor:pointer; 
}

.icons{
 
  margin-bottom: 2px;
  /* background-color: #282c34; */
  height:50px;
  width:600px;
  display:flex;
  justify-content: end;
  align-items:center;
}

.otp input{
  background-color: white;
  border-color:black;
  color:black;
  border-radius: 5px !important;
  width: 2rem !important;
  margin: 5px !important;
}

.PhoneInputInput {
  border-radius:5px !important;
  background-color: white; 
  border-color:black;
  color:black;

}


.PhoneInputInput:hover{
  text-decoration: underline;
}

.PhoneInputInput:focus{
  outline:none;
  text-decoration: none;
}

.login_card{
  height:300px;
  width:600px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.openbtn{
  border-radius: 5px;
}

.hospitalname{
  
  color:black;
}

.transferquest{
  color:black;
  display:flex;
  justify-content: center;
  align-items: center;
}



/*Home*/
.logout{
  cursor:pointer;
}



.w-65{
  width:65%;
}

.w-35{
  width:35%;
}

/* .containcard{
  
  
} */

.card{
  padding:6px;
  height:25% !important;
  width:90%;
  background:white;
}

.card p{
  font-size:15px;
  text-overflow: overflow;
  white-space: nowrap;
  overflow: hidden;
  width:90%; /* some width */
  font-size: 15px;
}


.card h6,p{
  margin:0px !important;
  
}

.home_page{
  height:100vh;
}

.right_home{
  height:85vh;
}

.containercard{
  overflow-y: scroll;
  height:100%;
}

.containercard {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.containercard::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.speciallink{
  color:black;
  text-decoration: none;

}

.speciallink:hover{
  color:black
}


.mainheader{
  color:black;
  font-size: 50px;
  margin-left:10px;
}


.m2{
  color:red;
}

.infoz{
  font-size:larger;
  font-weight: bold;
}


.m22{
  color:red;
}

.homelinks{
  text-decoration: none;
}


.pinformation{
  margin-left: 25%;
}

.pinformation h6{
  font-size: 25px;
}


.finame{
  color:red;
}

.linknon{
  text-decoration: none;
  color:black;
}

.linknon:hover{
  color:black;
}