@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');


body{
  background-color: #282c34 !important;
}



.headerlog{
  color:azure;
}

.Login_page {
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icons i{
  cursor:pointer; 
}

.icons{
  
  margin-bottom: 2px;
  background-color: #282c34;
  height:50px;
  width:600px;
  display:flex;
  justify-content: end;
  align-items:center;
}

.otp input{
  background-color: #282c34;
  border-color:white;
  color:white;
  border-radius: 5px !important;
  width: 2rem !important;
  margin: 5px !important;
}

.PhoneInputInput {
  border-radius:5px !important;
  background-color: #282c34; 
  border-color:white;
  color:azure;

}


.PhoneInputInput:hover{
  text-decoration: underline;
}

.PhoneInputInput:focus{
  outline:none;
  text-decoration: none;
}

.login_card{
  height:300px;
  width:600px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.openbtn{
  border-radius: 5px;
}

.hospitalname{
  
  color:white;
}

.transferquest{
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
}



/*Home*/
.logout{
  cursor:pointer;
}



.w-65{
  width:65%;
}

.w-35{
  width:35%;
}

/* .containcard{
  
  
} */

.card{
  padding:6px;
  height:25% !important;
  width:90%;
  background:white;
}

.card p{
  font-size:15px;
  text-overflow: overflow;
  white-space: nowrap;
  overflow: hidden;
  width:90%; /* some width */
  font-size: 15px;
}


.card h6,p{
  margin:0px !important;
  
}

.home_page{
  height:100vh;
}

.right_home{
  height:85vh;
}

.containercard{
  overflow-y: scroll;
  height:100%;
}

.containercard {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.containercard::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.speciallink{
  color:black;
  text-decoration: none;

}

.speciallink:hover{
  color:black
}
