@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');


body{
  background-color: #282c34 !important;
}



.headerlog{
  color:azure;
}

.App {
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icons i{
  cursor:pointer; 
}

.icons{
  
  margin-bottom: 2px;
  background-color: #282c34;
  height:50px;
  width:600px;
  display:flex;
  justify-content: end;
  align-items:center;
}

.otp input{
  background-color: #282c34;
  border-color:white;
  color:white;
  border-radius: 5px !important;
  width: 2rem !important;
  margin: 5px !important;
}

.PhoneInputInput {
  border-radius:5px !important;
  background-color: #282c34; 
  border-color:white;
  color:azure;

}


.PhoneInputInput:hover{
  text-decoration: underline;
}

.PhoneInputInput:focus{
  outline:none;
  text-decoration: none;
}

.login_card{
  height:300px;
  width:600px;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.openbtn{
  border-radius: 5px;
}

.hospitalname{
  
  color:white;
}

.transferquest{
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
}



/*Home*/
.logout{
  cursor:pointer;
}
